footer {
    background-color: black;
    height: 30vh;
    color: white;
    text-align: center;
}

footer div {
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

footer div:nth-child(1) {
    padding-top: 60px;
}

footer div:nth-child(2) {
    margin-top: 60px;
}

footer a {
    color: white;
    font-size: 30px;
}

footer p{
    margin-top: 50px;
}
